# Byte-compiled / cache
__pycache__/

# Environment
.env

# VS Code settings
.vscode/

# OS-specific
.DS_Store

# Python virtual environment
venv/

# weights or checkpoints
*.ckpt
*.pt
*.pth

# model parameters
CVAE/train_params.yaml

# test generation folder
Image_Generated/

# logs
*.log
# But keep .log files inside the training_procedures folder
!*/training_procedures/*.log